@media (max-width: 401px) {
  .menu_paths {
    display: none;
    flex-direction: column;
  }

  .menu-item {
    text-decoration: none;
    color: white;
  }
  .menu_burger:hover {
    .menu_paths {
      padding-top: 3rem;
      width: 10rem;
      display: flex;
      height: 45vh;
      overflow: auto;
      background-color: grey;
      gap: 3rem;
    }
  }
}

@media (min-width: 400px) {
  .logos__logo3 {
    display: none;
  }
  .menu_paths {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 3rem;
    padding-right: 1rem;
    padding-top: 1rem;
  }
  .menu-item {
    text-decoration: none;
    color: white;
  }
}
