@media (max-width: 401px) {
  .menu_paths {
    display: none;
    flex-direction: column;
  }

  .menu-item {
    text-decoration: none;
    color: white;
  }

  .menu__hover:hover {
    .menu_paths {
      width: 10rem;
      display: flex;
      height: 18vh;
      background-color: grey;
      gap: 1rem;
      list-style: none;
      align-items: center;
      padding-top: 2px;
    }
  }
}

@media (min-width: 390px) {
  .logos__logo3 {
    display: none;
  }
  .menu_paths {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 3rem;
    padding-right: 1rem;
    padding-top: 1rem;
  }
  .menu-item {
    text-decoration: none;
    color: white;
    list-style: none;
    padding-top: 2rem;
  }
  .menu-list {
    list-style: none;
    display: flex;
    justify-content: space-between;
    gap: 4rem;
  }
}
