.detials-row {
  display: flex;
  justify-content: center;
}

.details-page {
  background-image: url(../../../../../../public/img/background.jpg);
  height: 90vh;

  .details-return {
    display: flex;
    justify-content: left;
  }
  .details-card {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    padding: 1rem 0;
    flex-direction: column;
    padding-bottom: 2rem;

    .details-imgcontainer {
      display: flex;
      height: 16rem;
      width: 16rem;
      justify-content: center;
    }
    .details-image {
      display: flex;
      justify-content: center;
      height: 100%;
      width: 100%;
      border-radius: 10px 10px 0 0;
    }
  }
  .card-details {
    display: flex;
    flex-direction: column;
    color: black;
    list-style: none;
    justify-content: center;
    background-color: white;
    border-radius: 0 0 10px 10px;
    padding-left: 7px;
    padding-top: 1rem;
    gap: 1rem;
    padding-right: 7px;
  }

  .details-title {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

button {
  /* Variables */
  --button_radius: 0.75em;
  --button_color: #e8e8e8;
  --button_outline_color: #000000;
  font-size: 17px;
  font-weight: bold;
  border: none;
  border-radius: var(--button_radius);
  background: var(--button_outline_color);
}

.button_top {
  display: block;
  box-sizing: border-box;
  border: 2px solid var(--button_outline_color);
  border-radius: var(--button_radius);
  padding: 0.75em 1.5em;
  background: var(--button_color);
  color: var(--button_outline_color);
  transform: translateY(-0.2em);
  transition: transform 0.1s ease;
}

button:hover .button_top {
  /* Pull the button upwards when hovered */
  transform: translateY(-0.33em);
}

button:active .button_top {
  /* Push the button downwards when pressed */
  transform: translateY(0);
}

@media (max-width: 400px) {
  .button_top {
    margin-top: 2rem;
  }
}
