.card {
  list-style: none;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: white;
  border-radius: 1rem;
  border: 1px solid white;
  color: black;
  font-family: "Playfair Display", serif;
  gap: 0.5rem;
  padding-bottom: 0.5rem;
  &__favorite {
    width: 20px;
    height: 20px;
  }
}
