.error {
  background-color: rgba(254, 197, 128, 255);
  height: 100vh;
  margin: 0;
  color: white;
  font-family: "Playfair display", serif;
  &__title {
    font-size: 2.3rem;
    padding-left: 4rem;
    padding-top: 5rem;
  }
  &__phrase1 {
    font-size: 1.5rem;
    padding-left: 4rem;
    padding-top: 2rem;
  }
  &__phrase2 {
    font-size: 1.5rem;
    padding-left: 4rem;
  }
  &__image {
    width: 13rem;
    height: 20rem;
    margin-top: 3rem;
    margin-left: 3rem;
  }
  &__title-desktop {
    display: none;
  }
  &__phrase-desktop {
    display: none;
  }
  @media screen and (min-width: 390px) {
    &__title {
      display: none;
    }
    &__title-desktop {
      padding-top: 10rem;
      text-align: center;
      display: block;
      font-size: 2.5rem;
    }
    &__phrase-desktop {
      display: block;
      font-size: 2rem;
      margin-top: 1.5rem;
      text-align: center;
    }
    &__phrase1 {
      display: none;
    }
    &__phrase2 {
      display: none;
    }
    &__image {
      padding-top: 2.5rem;
      width: 13rem;
      height: 20rem;
      display: block;
      margin: auto;
    }
  }
}
